
:root {
  --font-family: "Poppins", sans-serif;
  --transition: .2s all ease-out;

  --white: #fff;
  --c-primary: #d17842;
  --c-secondary: #52555a;
  --c-desc: #aeaeae;
  --c-icon-menu: color: rgba(255, 255, 255, 0.18);;

  --bg-primary: #0c0f14;
  --bg-secondary: #141921;
  --bg-icon: linear-gradient(137deg, #21262e 0%, #0c0f14 100%);
  --bg-transparent: rgba(0, 0, 0, 0.5);
  --bg-menu:  rgba(0,0,0,0.8);

  --border: 1rem solid #21262e;
  --b-radius: 10rem;

}
