.product {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &-icons {
      display: flex;
      justify-content: space-between;
      padding: 20rem;
    }
  
    &-link__icon {
      cursor: pointer;
      width: 33rem;
      height: 33rem;
      border-radius: var( --b-radius);
      border: var(--border);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bg-icon);
    }
    &__group {
      margin-top: 255rem;
      background: var(--bg-transparent);
      border-radius: 25rem 25rem 0 0;
      padding: 30rem 20rem 15rem 20rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &-info {
      &__title {
        font-weight: 600;
        font-size: 20rem;
        line-height: 100%;
        margin-bottom: 2rem;
      }
  
      &__desc {
        font-weight: 400;
        font-size: 12rem;
        line-height: 167%;
        color: var(--c-desc);
        margin-bottom: 25rem;
      }
  
      &__rating {
        display: flex;
        align-items: center;
        gap: 4rem;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16rem;
        line-height: 125%;
        & span {
          font-weight: 400;
          font-size: 10rem;
          line-height: 200%;
          color: var(--c-desc);
        }
      }
    }
  
    &-bean {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 17rem;
      &__group {
        display: flex;
        gap: 20rem;
        align-items: center;
      }
  
      &__info {
        width: 56rem;
        height: 56rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      &__roasted {
        padding: 11rem 23rem;
      }
  
      .bean-content {
        font-weight: 500;
        font-size: 10rem;
        line-height: 200%;
        color: var(--c-desc);
        background: var(--bg-secondary);
        border-radius: var( --b-radius);
      }
    }
    .icon-coffee::before,
    .icon-location::before {
      color: var(--c-primary);
      font-size: 26rem;
    }
  }
  .icon-heart::before {
    color: var(--c-primary);
  }
  .icon-chevron-left::before {
    color: var(--c-secondary);
  }
  
  .icon-star::before {
    font-size: 22rem;
    color: var(--c-primary);
  }
  