.sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22rem 35rem;
    .sidebar-link {
        font-size: 24rem;
         
        .sidebar-link__icon::before {
          transition: var(--transition);
          color: var(--white);
        }
      
        &.active {
          .sidebar-link__icon::before {
            color: var(--c-primary);
          }
        }
      }
      
  }
  
