.details {
  padding: 20rem;
  &__title {
    font-weight: 600;
    font-size: 14rem;
    line-height: 143%;
    color: var(--c-desc);
    margin-bottom: 15rem;
  }

  &__desc {
    font-weight: 400;
    font-size: 12rem;
    line-height: 167%;
    margin-bottom: 8rem;
  }
  &-size {
    display: flex;
    align-items: center;
    gap: 25rem;
    flex-wrap: wrap;

    &__item {
      cursor: pointer;
      background: var(--bg-secondary);
      border-radius: var(--b-radius);
      padding: 10rem 28rem;
      font-weight: 500;
      font-size: 12rem;
      line-height: 167%;
      color: var(--c-desc);
    }
  }

  &-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40rem;
    margin-top: 28rem;
    margin-bottom: 14rem;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }

    &__label {
      font-weight: 500;
      font-size: 12rem;
      line-height: 167%;
      color: var(--c-desc);
    }

    &__value {
      font-weight: 600;
      font-size: 20rem;
      line-height: 100%;
      & span {
        color: var(--c-primary);
      }
    }

    &__btn {
      background: var(--c-primary);
      border-radius: 20rem;
      padding: 20rem 37rem;
      font-weight: 600;
      font-size: 16rem;
      line-height: 125%;
      color: var(--white);
      animation: fadeIn 3s linear forwards;
    }
  }
  .selected {
    color: var(--c-primary);
    outline: 2px solid var(--c-primary);
    transition: var(--transition);
  }

  .product-message {
    background-color: var(--c-primary);
    padding: 10rem 15rem;
    border-radius: 8rem;
    font-size: 12rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: var(--transition);
    animation: message 3s ease forwards;
  }
}
